
/* google font */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* navbar styles here */
.header-part {
    background-color: #9376e0;
}

.section-container {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
}

.nav-container {
    display: flex;
    align-items: center;
    width: 50%;
}

.nav-container img {
    width: 70px;
    object-fit: cover;
}

.nav-container p {
    font-size: 20px;
}

.special {
    color: #e893cf;
    font-weight: 800;
}

.nav-items {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-items a {
    text-decoration: none;
    color: white;
}

.extra-add {
    background-color: #e893cf;
    padding: 8px 15px;
    border-radius: 5px;
}

/* navbar styles end */